<footer class="footer">
    <p>
        &copy; {{ AUTHOR }} &ndash;
        {% if article and article.get_permalink_url() %}
        <a href={{article.get_permalink_url()}}>Permalink</a> &ndash;
        {% endif %}
        {% if page and page.get_permalink_url() %}
        <a href={{page.get_permalink_url()}}>Permalink</a> &ndash;
        {% endif %}
        Built with <a href="https://github.com/PurePelicanTheme/pure-single">Pure Theme</a>
        for <a href="http://blog.getpelican.com/">Pelican</a>
    </p>
</footer>
